.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.nav {
    text-decoration: none;
    color: rgba(79, 81, 194, 0.699); 
}

.container {
    margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}