.Container {
  display: flex;
  height: 100%;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}
